{
    "parser": "babel-eslint",
    "plugins": [
      "react"  
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "rules": {
        "no-unused-vars": 0,
        "max-len": [1, 120, 2, {"ignoreComments": true}],
        "prop-types": 0
    }
}